extends layout




block content
  script(src="/js/jquery-ui-1.11.4/jquery-ui.min.js")
  h1= title
  p Bienvenue, #{title}
  div: a(class='button',href='/sondes/current') température en direct
  div: a(class='button',href='/temperatures?date=month') mois entier
  p(class='clear block floatleft') résultats courants
   span(id="datepicker")
  p(class='clearf block floatleft') historique par mois
   span(id="datepickerhistorymonth")
  p(class='clearf block floatleft') historique par année
   span(id="datepickerhistory")
  script(type="text/javascript").
   $(function() {
     $( "#datepicker" ).datepicker(
     {
        onSelect: function( selectedDate ) {
           window.location.href = "/temperatures?date=" + selectedDate;
      }
     });
     $( "#datepickerhistorymonth" ).datepicker(
     {
        onSelect: function( selectedDate ) {
           window.location.href = "/historymonth?date=" + selectedDate;
      }
     });
     $( "#datepickerhistory" ).datepicker(
     {
        onSelect: function( selectedDate ) {
           window.location.href = "/history?date=" + selectedDate;
      }
     });
   });
   
