doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/js/jquery-ui-1.11.4/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.12.2.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
  body
    script= dd1
    script= series
    block content
    div(id='container' style={width:'100%',height:'600px'})
    script(type="text/javascript").
     $(function () { 
      $('#container').highcharts({
        chart: {
            type: 'spline',
            animation: { duration: 5000},
            events : {
                      load : function() {
                              var thatSeries = this.series;
                              setInterval(function(){
                                          
                                          var xhttp = new XMLHttpRequest();
                                          xhttp.onreadystatechange = function() {
                                               if (xhttp.readyState == XMLHttpRequest.DONE ) {
                                                   if(xhttp.status == 200){
                                                        var data = JSON.parse(xhttp.responseText);
                                                        var date = new Date(data.date).getTime();
                                                        thatSeries[0].addPoint([date,data.data.sonde1],true,true);
                                                        thatSeries[1].addPoint([date,data.data.sonde2],true,true);
                                                        thatSeries[2].addPoint([date,data.data.sonde3],true,true);
                                                        thatSeries[3].addPoint([date,data.data.sonde4],true,true);
                                                   }
                                                   else if(xhttp.status == 400) {
                                                       // alert('There was an error 400')
                                                   }
                                                   else {
                                                       // alert('something else other than 200 was returned')
                                                   }
                                                }
                                         };
                                  xhttp.open("GET", "sondes", true);
                                  xhttp.send();
                              },10000);
                            }
                     }
        },
        title: {
            text: 'Sondes de température'
        },
        yAxis: {
            title: {
                text: 'Température (°C)'
            }
        },
        xAxis: {
            type:'datetime',
            tickInterval: 60000,
            title: {
                text: 'Temps'
            }
        },
        series: series
      });
     });
