body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear
{
 clear: both;
 
}

.floatleft{
  float: left;
  display: block;
  width: 30%;
  margin: 10px;
}

.block{
  display: block;
}